@model K_K.Models.Recenzija

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">Uredi Recenziju</div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>


                    @* UrediRecenziju.cshtml *@
                    <form asp-action="UrediRecenziju" method="post">
                        @Html.AntiForgeryToken()

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ProizvodId" />
                        <input type="hidden" asp-for="NarudzbaId" />
                        <input type="hidden" asp-for="KorisnikId" />
                        <div class="form-group">
                            <label asp-for="Ocjena" class="control-label"></label>
                            <input asp-for="Ocjena" class="form-control" />
                            <span asp-validation-for="Ocjena" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tekst" class="control-label"></label>
                            <textarea asp-for="Tekst" class="form-control"></textarea>
                            <span asp-validation-for="Tekst" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-3">
                            <input type="submit" value="Spremi promjene" class="btn btn-primary" />
                            <a asp-action="DetaljiRecenzije" asp-route-id="@Model.Id" class="btn btn-secondary">Odustani</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}