@model K_K.Models.KarticnoPlacanje

@{
    ViewData["Title"] = "Unos kartičnog plaćanja";
}

<h2>Unesite podatke o kartici</h2>

<form asp-action="IzvrsiUplatu" asp-controller="KarticnoPlacanje" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="ImeNaKartici"></label>
        <input asp-for="ImeNaKartici" class="form-control" />
        <span asp-validation-for="ImeNaKartici" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrojKartice"></label>
        <input asp-for="BrojKartice" class="form-control" />
        <span asp-validation-for="BrojKartice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CVV"></label>
        <input asp-for="CVV" class="form-control" />
        <span asp-validation-for="CVV" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DatumIsteka"></label>
        <input asp-for="DatumIsteka" type="date" class="form-control" />
        <span asp-validation-for="DatumIsteka" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Plati</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
