@{
    ViewData["Title"] = "Plaćanje uspješno";
}

<div class="text-center mt-5">
    <h2 class="text-success">Plaćanje je uspješno izvršeno!</h2>
    <a asp-action="Unos" asp-controller="KarticnoPlacanje" asp-route-id="1" class="btn btn-outline-primary mt-4">
        Nova uplata
    </a>
</div>
