@model K_K.Models.LokacijaKafica

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj novu lokaciju:</h1>

<h4>LokacijaKafica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grad" class="control-label"></label>
                <input asp-for="Grad" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeografskaSirina" class="control-label"></label>
                <input asp-for="GeografskaSirina" class="form-control" type="number" step="any" />
                <span asp-validation-for="GeografskaSirina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeografskaDuzina" class="control-label"></label>
                <input asp-for="GeografskaDuzina" class="form-control" type="number" step="any" />
                <span asp-validation-for="GeografskaDuzina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu lokacija</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
