@model K_K.Models.Narudzba
@{
    var narudzba = TempData["narudzba"] as K_K.Models.Narudzba;
}
@{
    ViewData["Title"] = "Edit";
}

@if (Model == null)
{
    <h1>Narudžba nije pronađena</h1>
    <div>
        <a asp-action="Index">Nazad na listu</a>
    </div>
}
else
{
    <h1>Uredite status narudžbe</h1>
    <h4>Narudzba</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                @*Ovo bi trebalo samo da radnik moze promijeniti*@
                @if ((narudzba.StatusNarudzbe.ToString() == "Potvrdjena" ) && (User.IsInRole("Radnik") || User.IsInRole("Administrator")))
                {
                    <div class="form-group">
                        <label asp-for="StatusNarudzbe" class="control-label"></label>
                        <select asp-for="StatusNarudzbe" class="form-control">
                            <option value="Potvrdjena" selected="@(Model.StatusNarudzbe == StatusNarudzbe.Potvrdjena)">Potvrdjena</option>
                            <option value="Gotova" selected="@(Model.StatusNarudzbe == StatusNarudzbe.Gotova)">Gotova</option>
                        </select>
                    <span asp-validation-for="StatusNarudzbe" class="text-danger"></span>
                </div>
                }

                    <div class="form-group mt-3 pt-2">
                        <input type="submit" value="Sačuvaj izmjene" class="btn btn-primary" />
                    @*if ((narudzba.StatusNarudzbe.ToString() == "Potvrdjena" || narudzba.StatusNarudzbe.ToString() == "NaCekanju") && (User.IsInRole("Radnik") && User.IsInRole("Administrator")))
                    {
                        <a asp-action="Index" class="btn btn-secondary">Otkaži</a>
                    }*@
                </div>
                
            </form>
        </div>
    </div>
}

<div>
    <a asp-action="Index">Nazad na listu narudžbi</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}