<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Proizvod" asp-action="Index">Meni</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Korpa" asp-action="KorpaView">
                <i class="fas fa-shopping-cart"></i> Moja Korpa
            </a>
        </li>
    }

    @* Admin navigacija - uklonite komentar kada implementirate role *@
    @*@if (User.IsInRole("Admin"))*@
    @if (User.Identity.IsAuthenticated) @* Privremeno za testiranje *@
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-cog"></i> Admin
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Korpa" asp-action="Index">
                        <i class="fas fa-shopping-cart"></i> Upravljanje Korpama
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Narudzba" asp-action="Index">
                        <i class="fas fa-receipt"></i> Narudžbe
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Recenzija" asp-action="Index">
                        <i class="fas fa-star"></i> Recenzije
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" asp-controller="Proizvod" asp-action="Create">
                        <i class="fas fa-plus"></i> Dodaj Proizvod
                    </a>
                </li>
            </ul>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
</ul>